*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Hanken Grotesk", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media(min-width: 640px){
    body{
        background-color: var(--Light_lavender);
        height: 100vh;
    }
}