*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "Manrope", sans-serif;
    background: var(--Grayish_Blue);
    height: 100vh;
}